</body>
<footer>
    <p>© 2025 - Jan Ingenhousz Institute</p>
    <ul>
        <li><a href="/404">Disclaimer</a></li>
        <li><a href="/404">Privacystatement</a></li>
        <li> <a href="/404">Cookiestatement</a></li>
    </ul>
    <img src="/assets/jan-ingenhousz-institute-logo.avif" alt="Jan Ingenhousz Institute" class="logo-nav" width="80">
</footer>

<script src="/main.js"></script>

</html>