</body>
<footer>
    <p class="copyright-text">© 2025 - Jan Ingenhousz Institute</p>
    <ul class="legal-links">
        <li><a href="/404">Disclaimer</a></li>
        <li><a href="/404">Privacystatement</a></li>
        <li> <a href="/404">Cookiestatement</a></li>
    </ul>
    <div class="footer-logos">
        <img src="/assets/jan-ingenhousz-institute-logo.avif" alt="Jan Ingenhousz Institute" class="logo-nav"
                width="80" loading="lazy">
        <img src="/assets/Jan_Ingenhousz_groen.avif" alt="Jan Ingenhousz" class="logo-nav" width="80" loading="lazy">
    </div>
</footer>

<script src="/main.js"></script>

</html>