.main-title {
    font-size: var(--font-size-large);
    margin: 1.5rem 2rem;
    color: var(--primary-color);
    font-weight: bolder;
    padding: 1rem;
}

.experiment-count {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 1rem 2rem;
    padding: 0 1rem;
}

.experiments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    /* margin: 2rem; */

    @media screen and (min-width: 720px) {
        gap: 2rem;
        margin: 2.5rem;
    }

    @media screen and (min-width: 1020px) {
        gap: 2.5rem;
        margin: 3rem;
    }

    .experiment-tile {
        background-color: var(--blank-color);
        border-radius: var(--border-radius-tile);
        padding: 2rem;
        box-shadow: var(--box-shadow);
        cursor: pointer;

        .experiment-title {
            font-size: var(--font-size-medium);
            font-weight: bold;
            margin-bottom: 1rem;
            color: var(--primary-color);
        }

        .experiment-meta {
            display: flex;
            align-items: center;
            font-size: var(--font-size-xsmall);
            color: var(--primary-color);
            margin-bottom: 1rem;

            .experiment-date::before {
                content: "•";
                margin: 0 0.5rem;
                color: var(--primary-color);
                user-select: none;
            }
        }

        .experiment-description {
            font-size: var(--font-size-xsmall);
            color: var(--primary-color);
            line-height: 1.5;
        }
    }
}

.status-badge {
    color: var(--blank-color);
    padding: var(--padding-button);
    border-radius: var(--border-radius-button);
    font-size: 0.75rem;
    margin-right: 0.5rem;
    display: inline-block;
    box-shadow: var(--box-shadow);
}

/* Kleuren per status */
.status-badge.active {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.status-badge.published {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
}

.status-badge.stale {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

.status-badge.provisioning {
    background-color: var(--accent-color);
    color: var(--text-color);
}

#openDialogBtn {
    margin: 1rem 2rem;
    border-radius: var(--border-radius-button);
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
    padding: var(--padding-button);
    box-shadow: var(--box-shadow);
}

dialog {
    border: none;
    margin: auto;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color);

    form {
        /* width: 20rem; */
        display: flex;
        flex-direction: column;
        align-content: center;

        .form-title {
            margin: 1.5rem;
            text-align: center;
            color: var(--secondary-color);
            font-size: var(--font-size-large);
        }

        label {
            color: var(--blank-color);
            margin-bottom: 0.5rem;
        }

        input {
            padding: 0.5rem;
            border: none;
            font-size: var(--font-size-medium);
            border-radius: var(--border-radius-tile);
        }

        textarea {
            padding: 0.5rem;
            font-size: var(--font-size-medium);
            border: none;
            border-radius: var(--border-radius-tile);
        }

        .create-button {
            border-radius: var(--border-radius-tile);
            color: var(--primary-color);
            background-color: var(--secondary-color);
            border: none;
            padding: var(--padding-button);
            box-shadow: var(--box-shadow);
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: var(--font-size-small);
        }

        #closeDialogBtn {
            border-radius: var(--border-radius-tile);
            color: var(--primary-color);
            background-color: var(--secondary-color);
            border: none;
            padding: var(--padding-button);
            box-shadow: var(--box-shadow);
            font-weight: bold;
            font-size: var(--font-size-small);
        }
    }
}